p,
ul,
td,
th {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
.payback__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px auto 0;
  padding: 0 30px;
  font-weight: bold;
}
.payback__login-submit {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  width: 100%;
  margin-top: 25px;
  padding: 25px 0;
}
.payback__total-wrap {
  height: 130px;
  position: relative;
  border: 1px solid;
}
.payback__total-text {
  color: #000;
  padding: 10px 0 0 10px;
}
.payback__total {
  font-size: 33px;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.payback__create-link {
  text-decoration: none;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 25px 0;
  color: #fff;
  font-weight: bold;
}
.payback__contents-title {
  margin: 10px 0;
}
.payback__history-wrap {
  border: 1px solid darkgray;
  margin-top: 10px;
  padding: 10px;
}
.payback__history-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payback__history-price-detail {
  display: flex;
  align-items: baseline;
}
.payback__choice-green {
  color: green;
}
.payback__choice-red {
  color: red;
}
.payback__history-price {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.payback__history-date {
  font-size: 12px;
}
.payback__delete {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 3px;
  font-size: 13px;
}
.payback__create-arrow {
  text-decoration: none;
  font-size: 25px;
  padding-left: 20px;
  position: absolute;
}
.payback__create {
  text-align: center;
  margin-top: 0;
}
.payback__create-form {
  padding: 0 20px;
}
.payback__create-choice {
  display: flex;
  justify-content: center;
}
.payback__create-choice input {
  display: none;
}
.payback__create-choice label {
  display: block;
  width: 70px;
  margin: 0;
  padding: 20px;
  background: #bdc3c7;
  color: #869198;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  transition: 0.2s;
}
.payback__create-choice label:first-of-type {
  border-radius: 3px 0 0 3px;
}
.payback__create-choice label:last-of-type {
  border-radius: 0 3px 3px 0;
}
.payback__create-choice
  input[type="radio"]:checked
  + .payback__create-choice-on {
  background-color: #a1b91d;
  color: #fff;
}
.payback__create-choice
  input[type="radio"]:checked
  + .payback__create-choice-off {
  background-color: #e67168;
  color: #fff;
}

.payback__create-content {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.payback__create-price {
  display: flex;
}
.payback__create-box {
  border: none;
  border-bottom: 2px solid darkgray;
  padding: 5px;
}
.payback__create-submit {
  width: 100%;
  margin: 20px auto 0;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px;
}
